@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
header {
  position: fixed !important;
  z-index: 1000;
  top: 0px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #f2f2f2;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 1;
}
.brand-name {
  color: #0781f2;
  font-weight: bold;
  font-size: 20px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.content {
  max-width: 800px;
  text-align: center;
  margin: 120px auto;
}
.section-container {
  min-height: 300px;
  overflow: auto;
  border: 1px solid #0781f2;
  padding: 30px;
  border-radius: 5px;
  background: #f4f4f4;
  margin-bottom: 32px;
}

.container {
  height: calc(100vh - 200px);
}

.btn {
  border-radius: 3px;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 100%;
  border: none;
  cursor: pointer;
}
.loading-container {
  margin-top: 32px;
}
/*  Alert*/
.message-wrapper {
  position: fixed;
  top: 6%;
  right: 3%;
  z-index: 10000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px;
}
.success {
  background: #1fa564;
}
.error {
  background: #a5271f;
}
.msg-content {
  display: flex;
  min-width: 250px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  padding-top: 2px;
}
